<div class="container">

    <div class="col-md-12 align-self-center text-center text-md-left">




        <h2 align="center">A propos de Aatout</h2>

        ATOUTS Le 05 décembre 2001, il sonnait 7h 10, quand nous nous sommes rendus au champs de l'oncle Chabi pour la récolte du maïs. C'était le dixième champ entamé sur les 14 prévus par l’association des cultivateurs du village. Le concept était simple. S'unir
        en groupe pour travailler dans le champs d'un confrère et continuer ainsi jusqu'au tour de la dernière personne. A défaut de disposer d'argent pour financer la récolte ou de moissonneuse, nous nous réunissons en groupe de travail collaboratif.
        Cela permet de garantir la récolte des produits, mais aussi renforce les liens de solidarité entre les paysans du même village. Le résultat est pareil si nous exportons le système sur n'importe quelle phase de la production de bien et spectaculaire
        en l'implémentait sur chaque besoin de bien-être. Nous sommes capables de créer plus de valeurs lorsque nous sommes en groupe qu'individuellement. Mieux encore, la potentialité d'un individu est largement supérieure à ses besoins vitaux. C'est
        ce qu'explique Dr VICTOR PAUCHET dans LE CHEMIN DU BONHEUR : - Chaque homme vaut dix fois plus qu'il n'est actuellement -. Atouts est une association née en 2006 à Parakou et enregistrée sous le N°2017/2060/DEP-LIT/SG/SAG-ASSOC du 18 août 2017
        à Cotonou. Elle se charge de : • Mobiliser et renforcer les capacités des jeunes pour l’amélioration des conditions de vie des populations. • Impliquer les acteurs privés dans le processus de lutte contre la pauvreté. • Valoriser toute ressource
        pouvant accroître le bien-être économique et social des populations. L'approche de Atouts est basée sur un paradoxe et sur les six (06) réalités scientifiques suivantes :  « Tous les êtres humains expriment les mêmes besoins fondamentaux : se
        nourrir, se soigner, se vêtir, se loger ». (Maslow)  « Chaque homme vaut dix fois plus qu’il n’est actuellement ! » Dr VICTOR PAUCHET.  La vie est organisée en groupes sociaux. Les besoins des uns sont traités par les autres et vice versa. 
        La consommation n’est comprise que par les sens que les hommes lui accordent.  Le hasard n’existe que pour celui qui le croit.  Toutes les ressources sont profitables si l’on s’y prend avec positivité. Paradoxe Atouts Les monnaies traditionnelles
        (tous les moyens d’échange discontinus : troc physique, sel, cauris, or…, pièces et billets de banque) ont amélioré les échanges en offrant de la mesure, de la simplicité, de la portabilité et de l’épargne. Devons-nous cependant attendre le détenteur
        de cet instrument avant de subvenir à nos besoins ? Quels sont les limites de l’échange en termes de montant ? Autrement dit, le fermier malade mourra tant qu’il n’a trouvé d’acheteur pourvoyeur d’argent d’une part, et ne peut vendre qu’à hauteur
        des monnaies détenues par les consommateurs d’autre part. Sachant que la capacité productive d’un individu x est largement supérieure à sa consommation maximale rationnelle, pourquoi n’arrive-t-il pas à satisfaire ses besoins, mêmes les plus primordiaux
        ? Soient Cr consommation rationnelle, P potentialité ou capacité de production, Bv besoins vitaux ou état de pauvreté ou de manque, Ra revenu actuel et Pr production réelle Si P Inférieur Cr pourquoi Ra Supérieur Bv ? Or Ra = Pr d’où Pr Supérieur
        Bv. Que faire ? Comme réponse de cette interrogation, Atouts propose une amélioration de Pr à travers trois sous objectifs intermédiaires. Objectif Global Accroissement du pouvoir d’achat des populations pour un bien-être social idéal Objectifs
        spécifiques 1- Mettre en place un système de rémunération dynamique, continue et transparente, capable de minimiser la dépréciation sociale de valeurs. 2- Renforcer les liens de solidarité sociale par des co-productions actives. 3- Temporiser
        ou conserver les valeurs de façon plus performante. Synthèse Un nouveau modèle social : la monétisation intègre (échange direct, continuité des efforts par la conservation et le développement de la valeur ajoutée) et l’économie collaborative.
        Trois garanties d’Atouts : l’emploi dynamique, la rééducation de soi et le bonheur




        <br><br><br><br><br><br><br><br><br><br>


    </div>
</div>