<div class="row">
    <div class="col-md-12 col-sm-12">
        <br />
        <button nz-button nzType="primary" (click)="open()">
                <i nz-icon type="laptop" theme="outline"></i>
                Ajouter
            </button>
        <nz-drawer [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto',
                'padding-bottom':'53px' }" [nzClosable]="false" [nzOffsetX]="childrenVisible
                ? 180 : 0" [nzWidth]="720" [nzVisible]="visible" nzTitle="Create" (nzOnClose)="close()">



            <form nz-form [formGroup]="validateForm" (ngSubmit)="enregistrerOperationEn()">

                <nz-form-item>
                    <nz-form-control [nzSpan]="'vertical'">
                        <nz-radio-group [(ngModel)]="radioValue" formControlName="typeOperation" nzName="radiogroup" [nzButtonStyle]="'solid'" [nzSize]="'large'" (ngModelChange)="choix(radioValue)">
                            <div nz-row>
                                <div nz-col nzSpan="8">
                                    <label nz-radio nzValue="DEPO">Augmenter</label>
                                </div>
                                <div nz-col nzSpan="8">
                                    <label nz-radio nzValue="RETR">Diminuer</label>
                                </div>
                                <div nz-col nzSpan="8">
                                    <label nz-radio nzValue="VIRE">Virement</label>
                                </div>
                            </div>
                        </nz-radio-group>
                    </nz-form-control>
                </nz-form-item>



                <div nz-row nzGutter="12" class="example-input" *ngIf="!edit">
                    <div nz-col nzSpan="12">
                        <nz-form-item>
                            <nz-form-label [nzSpan]="'vertical'" nzFor="type" nzRequired>
                                <span>
                                        Type Compte
                                        <i nz-icon nz-tooltip nzTitle="Le type de compte
                                            SVP." type="question-circle" theme="outline"></i>
                                    </span>
                            </nz-form-label>
                            <nz-form-control [nzSpan]="'vertical'">
                                <nz-select id="type" formControlName="type" style="width: 100%;" nzShowSearch nzAllowClear nzPlaceHolder="Select a compte" [(ngModel)]="selectedValue" (ngModelChange)="log(selectedValue)">
                                    <nz-option nzLabel="COMPTES MONNAIES" nzValue="CPMN"></nz-option>
                                    <nz-option nzLabel="COMPTES VALEURS" nzValue="CPVL"></nz-option>
                                    <nz-option nzLabel="COMPTES" nzValue="CPTS"></nz-option>
                                </nz-select>

                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <nz-form-label [nzSpan]="'vertical'" nzFor="numcompte" nzRequired>
                        <span>
                                Numero Compte
                                <i nz-icon nz-tooltip nzTitle="Le Propriétaire de compte SVP." type="question-circle" theme="outline"></i>
                            </span>
                    </nz-form-label>
                    <div nz-col nzSpan="12" *ngIf="!edit">
                        <nz-select id="numCompte" formControlName="numCompte" style="width: 100%;" nzShowSearch nzAllowClear [(ngModel)]="selectedUser" (nzScrollToBottom)="loadMore()" nzPlaceHolder="Select numcompte" nzAllowClear (nzBlur)="getUnCompt()">
                            <nz-option *ngFor="let o of optionList" [nzValue]="o.numCompte" [nzLabel]="o.numCompte"></nz-option>
                            <nz-option *ngIf="isLoading" nzDisabled nzCustomContent>
                                <i nz-icon type="loading" class="loading-icon"></i> Loading Data...
                            </nz-option>
                        </nz-select>
                    </div>
                </div>

                <div nz-row nzGutter="12" class="example-input" *ngIf="!edit">
                    <div nz-col nzSpan="12">

                        <nz-form-item>
                            <nz-form-label [nzSpan]="'vertical'" nzFor="montantOp" nzRequired>
                                <span>
                                        Montant Opération
                                        <i nz-icon nz-tooltip nzTitle="Le sole SVP" type="question-circle" theme="outline"></i>
                                    </span>
                            </nz-form-label>
                            <nz-form-control [nzSpan]="'vertical'">
                                <input nz-input id="solde" type="number" min="0" formControlName="montantOp" placeholder="SVP Montant opération">
                                <nz-form-explain *ngIf="validateForm.get('montantOp').dirty && validateForm.get('montantOp').errors">
                                    Le Solde SVP
                                </nz-form-explain>
                            </nz-form-control>
                        </nz-form-item>
                    </div>

                    <nz-form-label [nzSpan]="'vertical'" nzFor="numcompte" nzRequired *ngIf="radioValue =='VIRE'">
                        <span>
                                Numero Compte Destinataire
                                <i nz-icon nz-tooltip nzTitle="Le Propriétaire de compte destinataire SVP." type="question-circle" theme="outline"></i>
                            </span>
                    </nz-form-label>
                    <div nz-col nzSpan="12" *ngIf="!edit">
                        <nz-select *ngIf="radioValue =='VIRE'" id="numCompte2" formControlName="numCompte2" style="width: 100%;" nzShowSearch nzAllowClear [(ngModel)]="selectedUserBiss" (nzScrollToBottom)="loadMore()" nzPlaceHolder="Select
                                numcompte destinataire" nzAllowClear>
                            <nz-option *ngFor="let o of optionList" [nzValue]="o.numCompte" [nzLabel]="o.numCompte"></nz-option>
                            <nz-option *ngIf="isLoading" nzDisabled nzCustomContent>
                                <i nz-icon type="loading" class="loading-icon"></i> Loading Data...
                            </nz-option>
                        </nz-select>
                    </div>

                    <nz-form-label [nzSpan]="'vertical'" nzFor="numcompte" nzRequired *ngIf="radioValue =='RETR'">
                        <span>
                            Numero Compte Systeme
                                <i nz-icon nz-tooltip nzTitle="Le Propriétaire de compte destinataire SVP." type="question-circle" theme="outline"></i>
                            </span>
                    </nz-form-label>
                    <div nz-col nzSpan="12" *ngIf="!edit">
                        <nz-select *ngIf="radioValue =='RETR'" id="numCompte2" formControlName="numCompte2" style="width: 100%;" nzShowSearch nzAllowClear [(ngModel)]="selectedUserBiss" (nzScrollToBottom)="loadMore()" nzPlaceHolder="Select
                                numcompte destinataire" nzAllowClear>
                            <nz-option *ngFor="let o of compteSystemeList" [nzValue]="o.numCompte" [nzLabel]="o.numCompte"></nz-option>
                            <nz-option *ngIf="isLoading" nzDisabled nzCustomContent>
                                <i nz-icon type="loading" class="loading-icon"></i> Loading Data...
                            </nz-option>
                        </nz-select>
                    </div>


                    <nz-form-label [nzSpan]="'vertical'" nzFor="numcompte" nzRequired *ngIf="radioValue =='DEPO'">
                        <span>
                                Numero Compte Systeme
                                <i nz-icon nz-tooltip nzTitle="Le Propriétaire de compte destinataire SVP." type="question-circle" theme="outline"></i>
                            </span>
                    </nz-form-label>
                    <div nz-col nzSpan="12" *ngIf="!edit">
                        <nz-select *ngIf="radioValue =='DEPO'" id="numCompte2" formControlName="numCompte2" style="width: 100%;" nzShowSearch nzAllowClear [(ngModel)]="selectedUserBiss" (nzScrollToBottom)="loadMore()" nzPlaceHolder="Select
                                numcompte destinataire" nzAllowClear>
                            <nz-option *ngFor="let o of compteSystemeList" [nzValue]="o.numCompte" [nzLabel]="o.numCompte"></nz-option>
                            <nz-option *ngIf="isLoading" nzDisabled nzCustomContent>
                                <i nz-icon type="loading" class="loading-icon"></i> Loading Data...
                            </nz-option>
                        </nz-select>
                    </div>
                </div>

                <div nz-row nzGutter="12" class="example-input" *ngIf="!edit">
                    <div nz-col nzSpan="24">

                        <nz-form-item>
                            <nz-form-label [nzSpan]="7" nzRequired>Narrative</nz-form-label>
                            <nz-form-control [nzSpan]="12" nzErrorTip="SVP la narrative de l'opération!">
                                <textarea formControlName="narrative" nz-input rows="2" placeholder="Narrative de l'operation" oninput="this.value = this.value.toUpperCase()"></textarea>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>


                <div class="footer">
                    <div nz-row>
                        <div nz-col nzSpan="8">
                            <button type="button" (click)="resetForm()" class="ant-btn ant-btn-primary" style="margin-right:
                                    8px;" ant-btn-primary>
                                    <i nz-icon type="retweet" theme="outline"></i>
                                    <span>Annuler</span></button>
                        </div>
                        <div nz-col nzSpan="8">
                            <nz-form-item nz-row style="margin-bottom:8px;">
                                <nz-form-control [nzSpan]="14" [nzOffset]="6">

                                    <button nz-button nzType="primary">
                                            <i nz-icon type="diff"></i>
                                            <span>Ajouter</span></button>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-col nzSpan="8">
                            <button type="button" (click)="close()" class="ant-btn
                                    ant-btn-primary">
                                    <i nz-icon type="logout"></i>
                                    <span>Fermer</span></button>
                        </div>
                    </div>
                </div>
            </form>
        </nz-drawer>






        <nz-card style="width: 100%;">
            <nz-card-tab>
                <nz-tabset nzSize="large" [(nzSelectedIndex)]="selectedIndex" (nzSelectChange)="log([$event])">
                    <nz-tab nzTitle="Listes des Operation"></nz-tab>
                    <nz-tab nzTitle="Liste des operations en cours ..."></nz-tab>
                </nz-tabset>
            </nz-card-tab>


            <div *ngIf="selectedIndex==0">
                <nz-table #editRowTable nzBordered [nzPageSize]=6 [nzShowPagination]=true [nzData]="dataSet">
                    <thead>
                        <tr>
                                <th> TYPE </th>
                                <th> COMPTE </th>
                                <th> MONTANT </th>
                                <th> DATE </th>
                                <th>Actions</th>

                            </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of editRowTable.data">
                            <td>
                                <div class="editable-cell">
                                    <div class="editable-cell-text-wrapper">
                                        <ng-container>
                                            {{data.type}}
                                        </ng-container>

                                    </div>
                                </div>
                            </td>
                            <td>
                                <ng-container>
                                    {{ data.compte.numCompte }}
                                </ng-container>

                            </td>
                            <td>
                                <ng-container>
                                    {{formatNumber(data.montantOp)}}
                                </ng-container>

                            </td>
                            <td>
                                <ng-container>
                                    {{data.createdAt | date: 'dd MM yyyy'}}
                                </ng-container>

                            </td>
                            <td>
                                <div class="editable-row-operations">
                                    <ng-container>
                                        <button nz-button title="Inspecter" nzType="info" (click)="inspecterMobilisation(data)"  nzShape="circle">
                                            <i nz-icon type="info"></i>
                                          </button>
                                    </ng-container>

                                    <ng-container>
                                        <nz-popconfirm [nzTitle]="'Êtes vous sûr de supprimer?'" (nzOnConfirm)="deleteMobilisation(data)">
                                            <button title="Supprimer" nz-button nzType="danger" nz-popconfirm  nzShape="circle">
                                                            <i nz-icon type="delete"></i>
                                                        </button>
                                        </nz-popconfirm>
                                    </ng-container>


                                    <ng-container>
                                        <button title="Voir le (s) réponse (s) de cette demande" nz-button nzType="primary" (click)="reponse(data.id)"  nzShape="circle">
                                                         <i nz-icon type="form"></i>
                                            </button>
                                    </ng-container>

                                    <ng-container>
                                        <button title="Répondre à cette demande de mobilisation" nz-button nzType="primary" (click)="repondre(data)"  nzShape="circle">
                                            <i nz-icon type="form"></i>
                                        </button>
                                    </ng-container>

                                </div>
                            </td>
                        </tr>
                    </tbody>
                </nz-table>
            </div>

            <div *ngIf="selectedIndex==1">
                <div class="table-responsive">

                    <nz-table #editRowTable nzBordered [nzPageSize]=6 [nzShowPagination]=true [nzData]="opererationEnList">
                        <thead>
                            <tr>
                                <th> TYPE </th>
                                <th> COMPTE </th>
                                <th> MONTANT </th>
                                <th> DATE </th>
                                <th> Etat </th>
                                <th>Actions</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of editRowTable.data">
                                <td>
                                    <ng-container>
                                        {{ data.type }}
                                    </ng-container>
                                </td>

                                <td>
                                    <ng-container>
                                        {{ data.compte.numCompte }}
                                    </ng-container>
                                </td>
                                <td>
                                    <ng-container>
                                        {{formatNumber(data.montantOp)}}
                                    </ng-container>

                                </td>
                                <td>
                                    <ng-container>
                                        {{ data.dateOp | date:'medium' }}
                                    </ng-container>

                                </td>

                                <td>
                                    <ng-container>
                                        <span class="badge badge-primary badge-pill" *ngIf="data.etat=='NON_AUTORISEE'" style="font-size: 12px;font-weight: bold;">demande en cours ..</span>
                                        <span class="badge badge-danger badge-pill" *ngIf="data.etat=='REJETEE'" style="font-size: 12px;font-weight: bold;">rejetée</span>
                                        <span class="badge badge-warning badge-pill " *ngIf="data.etat=='AUTORISEE'" style="font-size: 12px;font-weight: bold;">autorisée</span>
                                        <span class="badge badge-success badge-pill" *ngIf="data.etat=='VALIDEE'" style="font-size: 12px;font-weight: bold;">terminée</span>
                                    </ng-container>

                                </td>
                                <td>
                                    <div class="editable-row-operations">

                                        <ng-container>
                                            <nz-popconfirm [nzTitle]="'Êtes vous sûr de supprimer?'" (nzOnConfirm)="deleteEn(data)">
                                                <button title="Supprimer" nz-button nzType="danger" nz-popconfirm  nzShape="circle"><i nz-icon type="delete"></i>
                                                </button>
                                            </nz-popconfirm>
                                        </ng-container>


                                        <ng-container *ngIf="data.etat=='REJETEE'">
                                            <nz-popconfirm [nzTitle]="'Êtes vous sûr de modifier opération rejetée ?'" (nzOnConfirm)="modifieEn(data)">
                                                <button title="Modiier" nz-button nzType="primary" nz-popconfirm  nzShape="circle"><i nz-icon type="form"></i>
                                                        </button>
                                            </nz-popconfirm>
                                        </ng-container>

                                        <ng-container *ngIf="data.etat=='AUTORISEE'">
                                            <nz-popconfirm [nzTitle]="'Êtes vous sûr de finaliser opération autorisée ?'" (nzOnConfirm)="enregistrerOperation(data)">
                                                <button title="Opération" nz-button nz-popconfirm  nzShape="circle"><i nz-icon type="form"></i>
                                                        </button>
                                            </nz-popconfirm>
                                        </ng-container>

                                    </div>
                                </td>
                            </tr>
                        </tbody>

                    </nz-table>
                </div>

            </div>

        </nz-card>

    </div>
</div>
<nz-col [nzSpan]="12">
    <nz-countdown [nzValue]="deadline" [nzTitle]="'TOP CHRONO ACHAT'" [nzFormat]="'HH:mm:ss:SSS'"></nz-countdown>
</nz-col>