nz-card-tab {
    background: #fff;
    color: #fff;
    padding: 0;
    width: 100%;
    z-index: 2;
    position: fixed;
}

.scrollable-container {
    height: 100px;
    overflow-y: scroll;
}

.background {
    padding-top: 60px;
    height: 300px;
}
.footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    border-top: 1px solid rgb(232, 232, 232);
    padding: 10px 16px;
    text-align: center;
    background: #fff;
}
@media screen and(max-width:720px) and(max-width:979px) {
    
}

@media screen and(max-width:320px) {
    nz-drawer {
        width: 320px;
    }
}

