:host {
    text-align: center;
}

nz-header {
    background: #fff;
    color: #fff;
    padding: 0;
    width: 100%;
    z-index: 2;
    position: fixed;
}

nz-footer {
    line-height: 1.5;
}

nz-sider {
    color: #fff;
    line-height: 120px;
}

nz-content {
    color: #fff;
    min-height: 120px;
    line-height: 120px;
}

[nz-carousel-content] {
    text-align: center;
    height: 350px;
    line-height: 160px;
    color: #5f5964;
    overflow: hidden;
}

h3 {
    color: #fff;
}

nz-layout {
    margin-bottom: 48px;
}

nz-layout:last-child {
    margin: 0;
}