<br />
<div nz-row nzGutter="12" class="example-input">
    <div nz-col nzSpan="12">
        <button nz-button nzType="primary" (click)="open()">
      <i nz-icon type="laptop" theme="outline"></i>
      Ajouter
    </button>
    </div>
</div>



<nz-drawer [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom':'53px' }" [nzClosable]="false" [nzOffsetX]="childrenVisible ? 180 : 0" [nzWidth]="720" [nzVisible]="visible" nzTitle="CREATION DU BON DE VALEUR" (nzOnClose)="close()">
    <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
        <div nz-row nzGutter="12" class="example-input" >
            <div nz-col nzMd="12" nzSm="12" nzXs="12">
                <nz-form-item>
                    <nz-form-control>
                        <h5>Montant Bon<span class="text-danger">*</span></h5>
                        <input nz-input type="number" min="500" formControlName="montant" class="form-control">
                        <nz-form-explain *ngIf="validateForm.get('montant')?.dirty && validateForm.get('montant')?.errors">
                            Ce champs est obligatoire !
                        </nz-form-explain>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
        <div nz-row nzGutter="12" class="example-input" >
            <div nz-col nzSpan="12">
                <nz-form-item>
                    <nz-form-control>
                        <h5> Description<span class="text-danger">*</span></h5>
                        <textarea rows="3" nz-input formControlName="description" oninput="this.value= this.value.toUpperCase()"></textarea>
                    </nz-form-control>
                </nz-form-item>
            </div>

        </div>
        <hr>
        <div class="footer">

            <div nz-row>
                <div nz-col nzSpan="8">
                    <button type="button" (click)="resetForm($event)" class="ant-btn ant-btn-primary" style="margin-right: 8px;" ant-btn-primary><i nz-icon type="retweet" theme="outline"></i>
                        <span>Annuler</span>
                    </button>
                </div>
                <div nz-col nzSpan="8">

                    <nz-form-item nz-row style="margin-bottom:8px;">
                        <nz-form-control>
                            <button nz-button nzType="primary" [disabled]="validateForm.invalid"><i nz-icon type="diff"></i>
                                 <span>Ajouter</span>
                            </button>
                        </nz-form-control>
                    </nz-form-item>

                </div>
                <div nz-col nzSpan="8">
                    <button type="button" (click)="close()" class="ant-btn ant-btn-primary"><i nz-icon type="logout"></i>
                        <span>Fermer</span>
                    </button>
                </div>
            </div>
        </div>
    </form>
</nz-drawer>



<nz-table #editRowTable nzBordered [nzPageSize]=7 [nzShowPagination]=true [nzData]="bonList" nzShowSort>
    <thead>
        <tr>
            <th nzWidth="20%" nzCustomFilter>
                Numero Bon
                <nz-dropdown nzTrigger="click" nzPlacement="bottomRight" [nzClickHide]="false" nzTableFilter #dropdown>
                    <i nz-icon nzType="search" class="ant-table-filter-icon" [class.ant-table-filter-open]="dropdown.nzVisible" nz-dropdown></i>
                </nz-dropdown>
            </th>
            <th nzWidth="10%" nzShowSort nzSortKey="montant">Montant</th>
            <th nzWidth="10%">Description</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of editRowTable.data">
            <td>

                <ng-container>
                    <Span>
                        {{data.numeroBon}}
                   </Span>
                </ng-container>

            </td>
            <td>

                <ng-container>
                    {{data.montant}}
                </ng-container>

            </td>
            <td>
                <ng-container>
                    {{data.description}}
                </ng-container>
            </td>

        </tr>
    </tbody>
</nz-table>